
body {
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
}

#chicken {
    background-color: #F08080 ;
    width : 22%;
    text-align: right;
    border:solid black;
    margin-top: 0px;
    margin-left: 76%;
    margin-bottom: 5px;
    padding: 1px 2px 1px 2px;
    
}

#beef {
    background-color: #DE3163;
    width : 13%;
    text-align: center;
    border:solid black;
    margin-top: 0px;
    margin-left: 85%;
    margin-bottom: 5px;
    padding: 1px 2px 1px 2px;
}

#sushi {
    background-color: 
    #F7DC6F;
    width : 16%;
    text-align: center;
    border:solid black;
    margin-top: 0px;
    margin-left: 82%;
    margin-bottom: 5px;
    padding: 1px 2px 1px 2px;
}
h1 {
    text-align: center;
}

.sect1 {
    float:left;
    width:400px;
    height:188px;
    background-color: #A9A9A9 ;
    margin: 0px 0px 0px 20px;
    font-size: 15px;
    border:solid black;
    padding-left: 5px; 
    padding-right: 0px;
}

.sect2 {
    float:left;
    width: 400px;
    height:188px;
    background-color: #A9A9A9 ;
    margin: 0px 0px 0px 44px;
    font-size: 15px;
    border:solid black;
    padding-left: 5px;
}

.sect3 {
    float:left;
    width:400px;
    height:188px;
    background-color: #A9A9A9 ;
    margin: 0px 0px 0px 48px;
    font-size: 15px;
    border:solid black;
    padding-left: 5px;
}

@media (max-width:992px) {
    .sect1 {
        margin: 0px 0px 0px 49px;
    }

    .sect3 {
        margin: 37px 0px 0px 48px;
        width: 857px;
        height: 116px;
    }

    #sushi {    
        margin-left: 83.25%;
    }
    
}

@media (max-width: 767px){
    .sect1 {
        margin: 5px 0px 49px 159px;
    }

    .sect2 {
        margin: 31px 0px 29px 159px;
    }

    .sect3{
        margin: 47px 0px 61px 159px;
        width:400px;
        height:188px;
    }

    #sushi {
        margin-left: 82%;
    }
    
}




